aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
alkin-codeguard==0.1
asn1crypto==1.5.1
attrs==25.3.0
bitarray==3.2.0
blake2b-py==0.3.2
build==1.2.2.post1
cached-property==1.5.2
cbor2==5.6.5
certifi==2025.1.31
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.1
ckzg==1.0.2
click==8.1.8
-e git+https://github.com/bhavyagor12/eth-global-trifecta.git@071f0670fda094ab991a44d9c838b6755584a23d#egg=codeguard
coincurve==21.0.0
coloredlogs==15.0.1
configparser==7.2.0
contourpy==1.3.1
coverage==6.5.0
crytic-compile==0.3.8
cycler==0.12.1
cytoolz==1.0.1
dictionaries==0.0.2
distlib==0.3.9
docutils==0.21.2
eth-abi==4.2.1
eth-account==0.11.3
eth-bloom==1.0.4
eth-hash==0.3.3
eth-keyfile==0.8.1
eth-keys==0.4.0
eth-rlp==0.3.0
eth-typing==3.5.2
eth-utils==2.3.2
ethereum_input_decoder==0.2.2
filelock==3.18.0
fonttools==4.56.0
frozenlist==1.5.0
hexbytes==0.2.3
humanfriendly==10.0
id==1.5.0
identify==2.6.9
idna==3.10
importlib_resources==6.5.2
iniconfig==2.1.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.6
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==25.6.0
kiwisolver==1.4.8
lru-dict==1.2.0
markdown-it-py==3.0.0
MarkupSafe==2.0.1
matplotlib==3.10.1
mdurl==0.1.2
mock==5.2.0
more-itertools==10.6.0
multidict==6.2.0
mypy_extensions==0.4.4
mythril==0.24.8
nh3==0.2.21
nodeenv==1.9.1
numpy==2.2.4
packaging==24.2
parsimonious==0.9.0
persistent==6.1.1
pillow==11.1.0
platformdirs==4.3.7
pluggy==1.5.0
pre-commit==2.20.0
prettytable==3.15.1
propcache==0.3.0
protobuf==6.30.1
py-ecc==1.4.7
py-evm==0.7.0a1
py-flags==1.1.4
py-solc==3.2.0
py-solc-x==1.1.1
pycparser==2.22
pycryptodome==3.22.0
pyethash==0.1.27
Pygments==2.19.1
pyparsing==2.4.7
pyproject_hooks==1.2.0
pytest==8.3.5
pytest-cov==5.0.0
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pyunormalize==16.0.0
PyYAML==6.0.2
readme_renderer==44.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.4
rlp==3.0.0
rpds-py==0.23.1
scikit-learn==1.6.1
scipy==1.15.2
semantic-version==2.10.0
setuptools==77.0.3
six==1.17.0
slither-analyzer==0.11.0
solc-select==1.0.4
sortedcontainers==2.4.0
threadpoolctl==3.6.0
toml==0.10.2
toolz==1.0.0
transaction==5.0
trie==2.2.0
twine==6.1.0
typing_extensions==4.12.2
urllib3==2.3.0
virtualenv==20.29.3
wcwidth==0.2.13
web3==6.20.4
websockets==13.1
yarl==1.18.3
z3-solver==4.12.5.0
zope.deferredimport==5.0
zope.interface==7.2
zope.proxy==6.1
